body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex-grow: 1;
}
footer {
    flex-shrink: 0;
}

nav{
    padding-left: 20px;
}

.navbar-nav .nav-link:hover {
    color: #ffffff;
}

.diplomeUniv {
    display: flex;
    flex-direction: column;
}
